
 {% include 'jumptron/upload_banner.html' %}


<style>

    .center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}

</style>
{% block content %}


 <div class="card">
  <div class="card-header">
      <div class="alert alert-warning" role="alert">
 </div>

  </div>
  <div class="card-body">
    <p class="card-mx-auto" style="text-align: center;">

      <hr>
      <br>
      <div class="center">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}

    <button type="submit" class="btn btn-secondary">Upload</button>
  </form>





    </p>
      <hr>
  <a class="btn btn-primary" href="{% url 'index' %}" style="text-align: center;">Return To Home Page</a>
          </div>
  </div>
     <br>
     <br>
</div>





{% endblock %}