{%  include 'css_files/css_import.html' %}
{%  include 'javascript_files/js_import.html' %}



<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="{% url 'index'   %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'upload_banner'   %}">upload banner</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'goto'   %}"> preview rest_api_all</a>
      </li>

    </ul>
  </div>
</nav>