
{% include 'navbar.html' %}


                    {% if status_code %}

<div class="card">
  <div class="card-header" style="text-align: center; font-size: 40px;">
      <div class="alert alert-success" role="alert">
          <strong>   Massage   for you</strong>
          <hr>
          <h5>  Awesome    :) </h5>

</div>

  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
               <p ><strong>


                <div class="card">
  <h5 class="card-header" style="text-align: center;">

      {{ status_code }}


  </h5>

</div>


    </strong></p>


          </p>
      <footer class="blockquote-footer"> <cite title="Source Title">

          <p  style="text-align: center;"><strong> good!!!!   :) </strong></p>
          <br>
          <hr>
          <p  style="text-align: center;"><strong> go to Home Page     ----->


          </strong> <a class="btn btn-primary" href="{% url 'index' %}"> home</a></p>

      </cite></footer>
    </blockquote>
  </div>
</div>


                     {% endif %}



                     {% if wrong %}

<div class="card">
  <div class="card-header" style="text-align: center; font-size: 40px;">
      <div class="alert alert-danger" role="alert">
          <strong>  Error Massage</strong>
          <hr>
          <h5>don't do that again    :( </h5>

</div>

  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
               <p ><strong>


                <div class="card">
  <h5 class="card-header" style="text-align: center;">{{ wrong }}</h5>

</div>


    </strong></p>


          </p>
      <footer class="blockquote-footer"> <cite title="Source Title">

          <p  style="text-align: center;"><strong> YOU broke my heart my friend!!!! </strong></p>
          <br>
          <hr>
          <p  style="text-align: center;"><strong> .....ohhhhh  try again    :(</strong></p>

      </cite></footer>
    </blockquote>
  </div>
</div>


                    {% endif %}
