{% include 'navbar.html' %}
<div class="jumbotron jumbotron-fluid" style="background-color:#4dc0ff;">
  <div class="container">
    <h1 class="display-4">Hello A.Project</h1>
    <p class="lead">I hope this "Task" as you please</p>
     <p class="lead">:)

     </p>
        <p class="lead">

      So Here is The Tasks That you Ask for it !  :)
      <br>

     <ul class="list-group list-group-flush">
  <li class="list-group-item">
                          <div class="row">
  <div class="col-8">
      <span class="badge badge-warning">Task number 1 </span> &nbsp; upload banner_plugin

  </div>
  <div class="col-4">     <a href="{% url 'upload_banner'   %}" class="btn btn-outline-primary" role="button">upload </a>

</div>
</div>

  </li>
        <li class="list-group-item">
                          <div class="row">
  <div class="col-8">
      <span class="badge badge-warning">Task number 2 </span> &nbsp; &nbsp;if you want to priview  all objects with rest framework  please press here!

  </div>
  <div class="col-4">     <a href="{% url 'goto'   %}" class="btn btn-outline-primary" role="button">preview rest framework</a>

</div>
</div>

  </li>
</ul>
  </p>


   </div>

</div>

