
{% include 'navbar.html' %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> upload  banner</h1>
          <br>    <br>
<hr>
    <span class="badge badge-danger" style=" font-size: 30px;">note  very important </span> &nbsp;


    <div class="alert alert-danger" role="alert">
  This is a danger alert—check it out!
      <br>
<hr>
    <p class="lead">i am not familiar with django-cms  and i think the point is to make rest api so i make it with out
        django cms    :)
      <br>
<hr>
    </p>
  </div></div>
</div>